

<p><%= link_to "All Games", games_path%></p>


<%= image_tag"https://compass-ssl.xbox.com/assets/83/53/83534a33-0998-43dc-915a-4ec0a686d679.jpg?n=10202018_Panes-3-up-1400_Hero-SX_570x570.jpg"%>
<%= image_tag"https://compass-ssl.xbox.com/assets/51/27/51278d66-85f5-4eca-9428-0d23669c7617.jpg?n=10202018_Panes-3-up-1400_Hero-SS_570x570.jpg"%>
