body {
  text-align: center;
}

.table {
  width: 75%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

table,
th,
td {
  border: 1px solid #d7dbdd;
}
